<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Composer</title>

    <style>
      img.demo.full {
        width: 100%;
        border: 2px solid #00d1b2;
      }

      .set button.remove {
        height: auto;
      }

/*
      .set {
        min-width: 431px;
      }
*/
    </style>
</head>


<body>
  <section class="section">
    <div class="container" id="app">
      <h1 class="title is-1">Kettlebell workout composer</h1>

      <div class="columns is-multiline">

        <div class="set column is-4" v-for="(set, index) in workout.sets">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Set #{{index + 1}}
              </p>
              <button v-on:click="removeSet(set)" class="remove button is-danger is-inverted">
                <i class="fas fa-times"></i>
              </button>
            </header>
            <div class="card-content">
              <div class="content">


                <div class="field has-addons has-addons-centered">
                  <p class="control">
                    <input class="input" v-model="set.times" type="number">
                  </p>
                  <p class="control is-expanded">
                    <span class="select">
                      <select v-model="set.type_id">
                          <option v-for="type in set_types" :value="type.id">
                              {{type.name}}
                          </option>
                      </select>
                    </span>
                  </p>
                </div>

                <hr>

                <template v-for="exercise in set.exercises">
                  <img class="demo full" v-bind:src="'gifs/' + exercise.ex.id + '.gif'" />
                  <div class="field has-addons has-addons-centered">
                    <p class="control">
                      <input class="input" v-model="exercise.times" type="number">
                    </p>
                    <p class="control">
                      <span class="select">
                        <select v-model="exercise.type_id">
                            <option v-for="type in exercise_types" :value="type.id">
                                {{type.name}}
                            </option>
                        </select>
                      </span>
                    </p>
                    <p class="control" style="max-width: 50%">
                      <span class="select">
                        <select v-model="exercise.ex">
                            <option v-for="ex in db" :value="ex">
                                {{ex.name}}
                            </option>
                        </select>
                      </span>
                    </p>
                    <p class="control is-expanded">
                      <a href="#" class="button is-danger" v-on:click="removeExercise(set, exercise)">
                        <i class="fas fa-times"></i>
                      </a>
                    </p>
                  </div>
                </template>

                <button class="button" v-on:click="addExercise(set)">
                  <i class="fas fa-plus"></i>
                </button>

              </div>
            </div>
            <footer class="card-footer">
              <a href="#" v-on:click="duplicateSet(set)" class="card-footer-item button is-primary">Duplicar</a>
            </footer>
          </div>
        </div>

        <div class="column is-4">
          <button class="button is-large is-fullwidth" v-on:click="addSet()">
            <i class="fas fa-plus"></i>
          </button>
        </div>

      </div>

      <button class="button is-large is-fullwidth" v-on:click="loadWorkout('1-2:5-2-24+8-2-2+8-2-39')">
        Mini rutina para combatir el sedentarismo
      </button>

    </div>

  </section>

  <script src="main.js"></script>
</body>

</html>
